body {
  margin: 0;
  color: white;
  font-family: "Mulish", sans-serif;
}

/* header */

header {
  background-color: #cdb4db;
}

.header-logo {
  font-weight: 900;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.nav-links {
  display: flex;
  list-style-type: none;
  gap: 16px;
}

a {
  color: white;
  text-decoration: none;
}

/* Section One */

#section-one {
  background-color: #cdb4db;
  display: flex;
  justify-content: space-around;
  padding: 70px;
}

.section-one-text {
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1 {
  margin: 0;
  font-family: "Lobster", cursive;
  font-size: 2.5rem;
}

.section-one-text p {
  width: 400px;
}

button {
  width: 100px;
  padding: 8px 0;
  border: 2px solid white;
  background-color: #cdb4db;
  color: white;
  border-radius: 4px;
  transition: all 0.4s ease-out;
}

button:hover {
  background-color: white;
  color: #cdb4db;
}

#candy-img-one {
  width: 500px;
}

/* Section 2 */

#section-two {
  padding-bottom: 90px;
}

h2 {
  color: #ffc8dd;
  font-family: "Lobster", cursive;
  text-align: center;
  padding: 30px 0;
  font-size: 1.8rem;
}

.card-container {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.card {
  color: #ffc8dd;
  display: flex;
  flex-direction: column;
  width: 200px;
  text-align: center;
}

.card img {
  width: 200px;
  border-radius: 7px;
}

/* Section 3 */

#section-three {
  background-color: #ffafcc;
  display: flex;
  justify-content: center;
}

.quote-container {
  width: 600px;
  display: flex;
  flex-direction: column;
  padding: 100px 0;
}

.quote {
  font-size: 1.3rem;
  text-align: justify;
}

.author {
  align-self: flex-end;
  margin-top: 20px;
  font-size: 1.1rem;
  font-weight: 800;
}
