body {
  margin: 0;
  color: white;
  font-family: "Mulish", sans-serif;
}

/* header */

header {
  background-color: #cdb4db;
}

.header-logo {
  font-weight: 900;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.nav-links {
  display: flex;
  list-style-type: none;
  gap: 16px;
}

a {
  color: white;
  text-decoration: none;
}

/* Section One */

#section-one {
  background-color: #cdb4db;
  display: flex;
  justify-content: space-around;
  padding: 70px;
}

.section-one-text {
  width: 210px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1 {
  margin: 0;
  font-family: "Lobster", cursive;
  font-size: 2rem;
}

.section-one-text p {
  width: 400px;
}

button {
  width: 100px;
  padding: 8px 0;
  border: 2px solid white;
  background-color: #cdb4db;
  color: white;
  border-radius: 4px;
  transition: all 0.4s ease-out;
}

button:hover {
  background-color: white;
  color: #cdb4db;
}

#candy-img-one {
  width: 500px;
}
